body { 
background: black;
 }
 h1 {
 	font-size: 300px;
 	text-align: left;
 	font-family: 'Montserrat', sans-serif;
 color: white
}


.horizon { 
	z-index: 1;
	width: 3000px;
}
.middle {
	z-index: 2;
	width: 6000px;
}
.front {
	z-index: 3;
	width: 9000px;
}
.content {
	z-index: 4;
	width: 9000px;
}